tmp
.env
.envrc
bin/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Tilt build
build/

# Cursor
.cursorrules

# Secrets
secrets.yaml
README.md
README.md
ReadMePlanv2.md
chat-service/ARCHITECTURE.md
README.md
README.md
chat-service/TESTING.md
location-service/Location-01.md
location-service/Location-service-detail-01.md
web/ReadMeForMapv2.md
web/ReadMeForMapv1.md
web/ChatSectionUIdesing.md
web/API.md
.gitignore
.gitignore
README.md
match-service/ARCHITECTURE.md
user-service/UserServiceDBPlan.md
README.md
